* {
  margin: 0;
  padding: 0;
  bottom: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 20px;
  background-color: #ededed;
}

.header {
  margin-bottom: 30px;
}

.title {
  text-align: center;
  font-size: 75px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 100px;
  max-width: 1100px;
  margin: 0 auto;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 200px;
}

button {
  padding: 10px 0;
  border: 2px solid #333;
  border-radius: 5px;
}

button,
input {
  width: 100%;
  font-size: 16px;
  cursor: pointer;
}

input[type="color"] {
  -webkit-appearance: none;
  appearance: none;
  width: 80px;
  height: 80px;
  background-color: transparent;
  border: none;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 50%;
  border: none;
}

input[type="color"]::-moz-color-swatch {
  border-radius: 50%;
  border: none;
}

button.active {
  background-color: #333;
  color: white;
}

button,
input[type="color"] {
  transition: transform 0.1s ease-in-out;
}

button:hover,
input[type="color"]:hover {
  transform: scale(1.1);
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  height: 10px;
}

input[type="range"]::-moz-range-track {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  height: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: #333;
  margin-top: -8px;
  height: 24px;
  width: 24px;
  border-radius: 50px;
}

.size-value {
  font-size: 18px;
  margin-bottom: -15px;
}

.container {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  display: flex;
  border: 10px solid black;
  background-color: #fefefe;
}

.column {
  display: flex;
  flex: 1;
  flex-direction: column;
  /* border: 1px solid green; */
}

.cell {
  width: 100%;
  height: 100%;
  border: 1px solid red;
  cursor: pointer;
}

.colour-effect {
  background-color: black;
}

/* .footer{
  
} */
